# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.opensdf
*.sdf
*.suo
*.pdb
*.idb
*.ilk
*.exp

# Unreal Engine 4
CosmicSafari/Build/*
CosmicSafari/Binaries/*
CosmicSafari/Build/Receipts/*
CosmicSafari/Intermediate/Build/*
CosmicSafari/Intermediate/Config/*
CosmicSafari/Intermediate/Staging/*
CosmicSafari/Intermediate/AssetRegistryCache/*
CosmicSafari/Saved/*
CosmicSafari/Intermediate/ProjectFiles/obj/*
CosmicSafari/Content/FirstPerson/*
CosmicSafari/Content/FirstPersonCPP/*
CosmicSafari/Content/Geometry/*
CosmicSafari/Content/Flying/*
CosmicSafari/Content/FlyingCPP/*
CosmicSafari/ThirdParty/Build/*
CosmicSafari/DerivedDataCache
CosmicSafari/Intermediate/ReimportCache
CosmicSafari/Intermediate/CachedAssetRegistry.bin
CosmicSafari/Content/GTFreeMaterials/*
CosmicSafari/Content/StarterContent/*

# Build logs
*.tlog
*.log
